@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Sora:wght@200;300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  height: 100vh;
}