@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Sora:wght@200;300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  color: #7284a6;
  font-family: 'Inter', sans-serif;
  font-size: 13.3333px;
  font-weight: 200;
  line-height: 2em;
}

h1,
h2,
h3,
h4 {
  color: #314163;
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  line-height: 130%;
}

h1 {
  font-size: 2.375em;
  letter-spacing: -0.0875rem;
}

h2 {
  font-size: 2.75em;
  line-height: 1.25em;
  letter-spacing: -0.0875rem;
}

h3 {
  font-size: 0.75em;
  line-height: 1.5em;
  letter-spacing: 0.15rem;
}

a {
  cursor: pointer;
  text-transform: uppercase;
}

section {
  height: 100vh;
}

.hero {
  height: 60vh;
}

.img_element {
  height: 40vh;
}

@media (min-width: 540px) {

  *,
  ::before,
  ::after {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1em;
  }

  a {
    line-height: 2.875rem;
  }

  .hero {
    height: 100vh;
  }
}